* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto,  sans-serif;
    /* border:1px solid lightblue; */
}

.header, .footer {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text, .link, .action-content p, .attribution-container {
    font-size: 18px;
    color:#E5E7EB;
}

.link {
    text-decoration: none;
}
.link:hover {
    font-weight: 700;
    color:#F9FAF8;
}

.logo {
    min-width: 500px;
    flex-shrink: 0;
}

.logo, .action-content h3 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.action, .sign-up {
    background-color: #3882F6;
}
.sign-up.outline{
    border:2px solid #F9FAF8;
}
.sign-up {
    color:#F9FAF8;
    font-weight: 900;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 50px;
    cursor: pointer;
}

.sign-up:hover {
    color:#F9FAF8;
    background-color: #196ef7;
}

.content-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}
blockquote p , .subtext {
    color: #1F2937;
    font-weight: 300;
}

blockquote p {
    font-size: 36px;
    font-style: italic;
}

.footer {
    color: #E5E7EB ;
}

.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    padding: 8px;
}
.links {
    display: flex;
    gap:30px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    margin: 80px 200px;
    margin-top: 50px;
    padding: 8px;
    gap: 100px;
}

.main-content {
    max-width: 380px;
}

.header-img-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 2;
}
.header-img {
    width: 380px;
    height: auto;
}
.attribution-container {
    width: 380px;
    display: flex;
    justify-content: flex-start;
    padding: 8px 0;
}
.attribution-container a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

.attribution-container a:hover {
    color: #dbd9d9;
    font-weight: 900;
    text-decoration: none;
}