* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header,
.footer {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text,
.link,
.action-content p,
.attribution-container {
    font-size: 18px;
    color: #E5E7EB;
}

.link {
    text-decoration: none;
}

.link:hover {
    font-weight: 700;
    color: #F9FAF8;
}

.logo,
.action-content h3 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.action,
.sign-up {
    background-color: #3882F6;
}

.sign-up.outline {
    border: 2px solid #F9FAF8;
    margin-bottom: 33px;
}

button.sign-up {
    color: #F9FAF8;
    font-weight: 900;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-top: 40px;
}

.sign-up:hover {
    color: #F9FAF8;
    background-color: #196ef7;
}

.content-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

blockquote p,
.subtext {
    color: #1F2937;
    font-weight: 300;
}

blockquote p {
    font-size: 36px;
    font-style: italic;
}

.footer {
    color: #E5E7EB;
}


.attribution-container {
    width: 350px;
    display: flex;
    justify-content: center;
    margin: 18px 0;
    align-items: flex-end;
    background-color: #3882f6a1;
}

.attribution-container a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

.attribution-container a:hover {
    color: #dbd9d9;
    font-weight: 900;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.content-title {
    padding: 45px;
}

.items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
    gap: 50px;
    flex-wrap: wrap;
}

.thumb1,
.thumb2,
.thumb3,
.thumb4 {
    border-radius: 8px;
    box-shadow: 2px -2px 4px rgba(0, 0, 0.4);
}

.thumb1 {
    background: url(../img/arif-riyanto-G1N9kDHqBrQ-unsplash.jpg) 50% 50%;
    /* 50% 50% centers image in div */
    background-size: cover;
    width: 200px;
    height: 200px;

}

.thumb2 {
    background: url(../img/austin-distel-gUIJ0YszPig-unsplash.jpg) 50% 50%;
    /* 50% 50% centers image in div */
    background-size: cover;
    width: 200px;
    height: 200px;

}

.thumb3 {
    background: url(../img/mateusz-butkiewicz-4kPa9y5pb8M-unsplash.jpg) 50% 50%;
    /* 50% 50% centers image in div */
    background-size: cover;
    width: 200px;
    height: 200px;

}

.thumb4 {
    background: url(../img/hemant-kanojiya-F00Giwu9mag-unsplash.jpg) 50% 50%;
    /* 50% 50% centers image in div */
    background-size: cover;
    width: 200px;
    height: 200px;

}

.subtext {
    width: 200px;
    padding: 8px 0;
    text-align: center;
}

.subtext a {
    color: #434141;
    font-weight: 900;
    text-decoration: none;
}

.subtext a:hover {
    color: #196ef7;
    font-weight: 900;
    text-decoration: none;
}

.quote {
    width: 100%;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.blockquote {
    max-width: 500px;
    text-align: left;
}

.figcaption {
    text-align: right;
    margin-top: 20px;
    margin-right: 50px;
}


/* FLEX */

.header {
    display: flex;
    flex-direction: column;

}

.nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 100px;

}



.main-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 100px;

}

.logo {
    width: 350px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.links {
    display: flex;
    align-items: center;
    gap: 18px;
    width: 350px;
    margin-top: 15px;
    justify-content: flex-end;
}

.left {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 50px;
}

.right {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 284px;
}

.header-img {
    width: 350px;
    height: auto;
    box-shadow: 2px 1px 2px #ffffff;
    border-radius: 15px;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    flex-wrap: wrap;
    flex: 1;
    border: 150px solid #ffff
}

.footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}